extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-header("Danh Sách Sản Phẩm") 
    
    .row 
      each item in products
        .col-4.mb-3 
          .product-item
            a(href=`products/${item.slug}`)
              .inner-image
                img(src=item.thumbnail, alt="Product Image" class="product-image")
              .inner-content
                h3.product-title #{item.title}
                p.product-description #{item.description}
                span.product-price #{item.price} VND